
/config/*
/wp-content/*
!/wp-content/plugins/cookies-and-content-security-policy-vars.php
!/wp-content/advanced-cache.php
!/wp-content/object-cache.php
!/wp-content/php-error.php
!/wp-content/sunrise.php
/wp-content/mu-plugins/*
!/wp-content/mu-plugins
!/wp-content/mu-plugins/loader.php
!/wp-content/mu-plugins/xmlrpc.php
/vendor/
/wp/
.DS_Store
auth.json
db/*.sql
# Devcontainer
.htaccess
.devcontainer/.env
!/.devcontainer/config/.htaccess
*.pem
*.key
*.crt
franken/Caddyfile
db/db.sqlite
.secrets
